@font-face {
  font-family:'BreadleySerif-Bold' ;
  src: url(../resource/font/BreadleySerif-Bold.ttf);
}

@font-face {
  font-family:'BreadleySerif-Black' ;
  src: url(../resource/font/BreadleySerif-Black.ttf);
}

@font-face {
  font-family:'BreadleySerif-Light' ;
  src: url(../resource/font/BreadleySerif-Light.ttf);
}

@font-face {
  font-family:'BreadleySerif-Regular' ;
  src: url(../resource/font/BreadleySerif-Regular.ttf);
}

@font-face {
  font-family:'Gayaku' ;
  src: url(../resource/font/Gayaku.ttf);
}

.BreadleySerif-Bold{
  font-family: 'BreadleySerif-Bold';
}
.BreadleySerif-Black{
  font-family: 'BreadleySerif-Black';
}
.BreadleySerif-Light{
  font-family: 'BreadleySerif-Light';
}
.BreadleySerif-Regular{
  font-family: 'BreadleySerif-Regular';
}
.Gayaku{
  font-family: 'Gayaku';
}