@font-face {
  font-family:'Gayaku' ;
  src: url(../resource/font/Gayaku.ttf);
}

:root{
  --rojo: #B7202E;
  --negro: #1D1D1B;
  --gris: #E3E3E3;
  --gris-oscuro:#797979;
}

body{
  font-family: 'Gayaku';
  color: var(--negro);
}

.checked-rojo:checked{
  background-color: var(--rojo);
  border-color: var(--rojo);
}

.checked-rojo:focus{
  border-color: #b7202fa6;
  box-shadow: 0 0 0 0.25rem #b7202f6e;
}


.progressbar{
  list-style: none;

}

.progressbar__option{
  width: 100%;
  text-align: center;
  position: relative;
  font-size: calc(.6em + .6vw);
  color:var(--gris-oscuro);
}

.progressbar__option::before{
  display: flex;
  content:'';
  width: 14px;
  height: 14px;
  background-color: white;
  border-radius: 50%;
  border: 1px solid var(--negro);
  margin: 0 auto 5px;
}

.progressbar__option::after{
  display: block;
  content:'';
  width: 100%;
  height: 1px;
  background-color: var(--negro);
  position: absolute;
  top:7px;
  left: -50%;
  z-index: -1;
}

.progressbar__option:first-child:after{
  content:none;
}

.progressbar__option.active::before{
  background-color: var(--negro);
}

.title_form_datos, .titulo-envio{
  font-weight: 900;
  font-size: calc(.8em + .8vw);
}

.form_datos{
  background-color: var(--gris);
  height: 40px;
  border: none;
  color: var(--gris-oscuro);
}

.cuadro-carrito, .cuadro-envio, .cuadro-carrito-paso3{
  border: 1px solid var(--negro);
}

.cuadro-carrito{
  width: 75%;
}

.titulo-carrito{
  color:var(--rojo);
  font-size: calc(1.5em + 1.5vw);
}

@media screen and (max-width: 380px) {
  .envio-logo-carrito{
    width: 14%;
  }

}

.text-valores{
  font-size: calc(.7em + .7vw);
}

.text-valores__gris{
  color:var(--gris-oscuro);
}

.text-valores__tot{
  font-weight: 900;
}

.seccion-envio{
  width: 90%;
}

.check-facturacion, .envio-mas-info{
  color:var(--gris-oscuro);
  font-size: calc(.5em + .5vw);
}

.titulo-envio {
  width: auto;
  float:none;
  margin-inline-start: -0.9px;
  padding-inline-end: 0.75em;
  padding-block-end: .2em;
  padding-inline-start:0;
}

.texto-envio{
  font-size: calc(.6em + .6vw);
  color:var(--gris-oscuro);
}

.envio-click-aqui{
  color:var(--rojo);
}

.a-btn{
  text-decoration: none;
}

.btn-siguiente{
  border-color: var(--rojo);
  background-color: var(--rojo);
  color: var(--gris);
  width: 50%;
  border-radius: 1rem;
  font-size: calc(0.9em + 0.8vw);
}

.btn-siguiente:hover {
  color: var(--gris);
  box-shadow: 0 0 0 0.25rem #d74a57b0;
}

.btn-siguiente:focus {
  box-shadow: 0 0 0 0.25rem #d74a57b0;
}

@media screen and (min-width: 576px) and (max-width: 991px) {
  .cuadro-carrito{
    width: 50%;
  }

  .seccion-envio{
    width: 75%;
  }

  .btn-siguiente{
    width: 25%;
    font-size: calc(0.8em + 0.8vw);
  }

}

@media screen and (min-width: 992px) {
  
  .title_form_datos, .titulo-envio{
    font-size: calc(.7em + .7vw);
  }

  .check-facturacion, .envio-mas-info{
    font-size: calc(.45em + .45vw);
  }

  .text-valores{
    font-size: calc(.55em + .55vw);
  }

  .texto-envio{
    font-size: calc(.5em + .5vw);
    color:var(--gris-oscuro);
  }

  .progressbar__option{
    font-size: calc(.5em + .5vw);
  }

  .btn-siguiente{
    font-size: calc(0.7em + 0.7vw);
  }
}


@media screen and (min-width: 1200px) {
  .cuadro-carrito{
    width: 65%;
  }

  .seccion-envio{
    width: 95%;
  }

}

/* ------------------------------- Paso 2 ------------------------------ */

.nombre-forma-pago{
  font-size: calc(1.2em + 1.2vw);
}


.forma-pago{
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.forma-pago + label>img {
  cursor: pointer;
}

.forma-pago:checked + label {
  border-radius: .5rem;
  box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, .25);
  overflow: hidden;
}

@media screen and (min-width: 992px) {
  .nombre-forma-pago{
    font-size: calc(.8em + .8vw);
  }

  .cuadro-carrito-paso2{
    width: 80%;
  }
}

/* ---------------------- Paso3 ---------------------- */

/* Sirve para quitar el incremento en input tipo number */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
-webkit-appearance: none;
margin: 0;
}

input[type=number] { -moz-appearance:textfield; }

.logo-pago{
  width: 65%;
  height: auto;
}

.cuadro-carrito-paso3{
  height: 100%;
  width: 75%;
}

.btn-pagar{
  width: 60%;
  font-size: calc(1.3em + 1.3vw);
}


@media screen and (min-width: 576px) and (max-width: 991px) {
  .cuadro-carrito-paso3{
    width: 50%;
  }

  .btn-pagar{
    width: 50%;
  }

}

@media screen and (min-width: 992px) {
  
  .cuadro-carrito-paso3{
    width: 80%;
    /* height: 75%; */
  }

}

/* -------------------------- Agradecimiento ----------------------------- */

.text-gracias{
  font-size: calc(1.4em + 1.4vw);
}

.text-parrafo{
  font-size: calc(1em + 1vw);
}

.text-enlaces{
  text-decoration: none;
  color: var(--negro);
  font-size: calc(1.2em + 1.2vw);
}

.text-inicio{
  text-decoration-color: var(--negro);
  text-decoration-style: solid;
  text-decoration-line: underline;
}

a.text-enlaces:hover {
  color: var(--gris);
}

a.text-enlaces:hover>.text-inicio{
  text-decoration-color: var(--gris);
}

@media screen and (min-width: 768px) {
  
  .text-gracias{
    font-size: calc(2.7em + 2.7vw);
  }
  
  .text-parrafo{
    font-size: calc(1.2em + 1.2vw);
  }
  
  .text-enlaces{
    text-decoration: none;
    color: var(--negro);
    font-size: calc(1.5em + 1.5vw);
  }

}
