<!DOCTYPE html>
<html lang="en">
<head>
  <title>Footer Design</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../../css/footer.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>
<body>

  <footer class="footer">
  	 <div class="container">
  	 	<div class="row">
  	 		<div class="footer-col">
          <figure>
            <a href="#">
              <img class= "logo1" src="../../resource/images/LogoColor.png" alt="Logo DataFast">
            </a>
          </figure>

          <div class="row">
            <div class="colimg">
              <figure>
                  <img class= "logo-tarjetas" src="../../resource/images/visa.png" alt="Logo visa">
              </figure>
            </div>
            <div class="colimg">
              <figure>
                <img class= "logo-tarjetas" src="../../resource/images/mastercard.png" alt="Logo mastercard">
              </figure>
            </div>
            <div class="colimg">    
              <figure>
                <img class= "logo-tarjetas" src="../../resource/images/dinersclub.png" alt="Logo diners">
              </figure> 
            </div>
            <div class="colimg">    
              <figure>
                <img class= "logo-tarjetas" src="../../resource/images/americanexpress.png" alt="Logo diners">
              </figure> 
            </div>
          </div>
  	 		</div>
  	 		<div class="footer-col">
  	 			<h4>Atención al cliente</h4>
  	 			<ul>
  	 				<li><a href="#">Contacto</a></li>
  	 				<li><a href="#">Blog</a></li>
  	 				<li><a href="#">FAQs</a></li>
  	 				<li><a href="#">Guía de tallas</a></li>
  	 			</ul>
  	 		</div>
  	 		<div class="footer-col">
  	 			<h4>Información</h4>
  	 			<ul>
  	 				<li><a href="#">Términos y condiciones</a></li>
  	 				<li><a href="#">Transporte</a></li>
  	 				<li><a href="#">Al por mayor</a></li>
  	 				<li><a href="#">Devoluciones</a></li>
            <li><a href="#">Políticas de privacidad</a></li>
            <li><a href="#">Políticas de cookies</a></li>
  	 			</ul>
  	 		</div>
        <div class="footer-col">
          <h4>La empresa</h4>
          <ul>
            <li><a href="#">Quiénes somos</a></li>
          </ul>
        </div>
  	 		<div class="footer-col">
  	 			<h4>¡Suscríbete a nuestro boletín de noticias!</h4>
          
            <div class="row1">
              <form>
              <div class="col1">
              <input type="email" class="formcontrol" placeholder="Correo Electronico" aria-label="First name">
              </div>
              <div class="col1">
              <button type="submit" class="btn btn-primary">Enviar</button>
              </div>
              </form>
            </div>
          
          <div class="row">
            <div class="colimgredes">
              <figure>
                <a href="#">
                  <img class= "logo-redsocial" src="../../resource/images/facebook.png" alt="Logo facebook">
                </a>
              </figure>
            </div>
            <div class="colimgredes">
              <figure>
                <a href="#">
                  <img class= "logo-redsocial" src="../../resource/images/instagram.png" alt="Logo facebook">
                </a>
              </figure>
            </div>
            <div class="colimgredes">
              <figure>
                <a href="#">
                  <img class= "logo-redsocial" src="../../resource/images/whatsapp.png" alt="Logo facebook">
                </a>
              </figure>
            </div>
          </div>
  	 		</div>

  	 	</div>
  	 </div>
  </footer>

</body>
</html>