<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Suave Seducción</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="css/styles.css" rel="stylesheet" type="text/css"></link>

    <link rel="shortcut icon" href="../../resource/icons/Isotipo.svg" type="image/x-icon">
    <link rel="stylesheet" href="../../css/nav.css">
    <link rel="stylesheet" href="../../css/producto-unitario.css">
    <link rel="stylesheet" href="../../css/filter.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
   
    <link rel="stylesheet" href="/css/caru.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>




</head>
<body>
    <nav id="navPrincipal" class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid" id="contenedor" >
            <div class="flex-fill">
                <a class="navbar-brand" href="#">
                    <img src="images/ISOTIPO.png" alt="" width="60" height="60"  >
                </a>
            </div>
            

            <div class="flex-fill">
                <a class="nav-link principal" href="">SUAVE SEDUCCIÓN</a>
            </div>

            <div class="flex-fill">
                <a class="navbar-brand" href="">
                    <img class="logo" src="images/Perfil.png" alt="" width="35" height="35" >
                </a>

                <a class="navbar-brand" href="">
                    <img class="logo" src="images/Lupa.png" alt="" width="35" height="35" >
                </a>

                <a class="navbar-brand" href="">
                    <img class="logo" src="images/Carrito.png" alt="" width="35" height="35" >
                </a>

            </div>
            

        </div>
    </nav>

    
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid" >
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span> Menú
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                <ul class="nav flex-fill menu" >
                    <li class="nav-item flex-fill">

                        <div class="sub">
                            <a class="nav-link items" data-bs-toggle="collapse" data-bs-target="#submenu1" aria-controls="submenu1" aria-expanded="false" aria-label="Toggle navigation" href="">Brasieres</a>
                            
                        </div>
                        

                        <ul class="nav collapse subitem " id="submenu1" >
                            <li class="nav-item"><a class="nav-link" href="">Clásico</a></li>
                            <li class="nav-item"><a class="nav-link " href="">Bralette</a></li>
                            <li class="nav-item"><a class="nav-link " href="">Bralette Llano</a></li>
                            <li class="nav-item"><a class="nav-link " href="">Top corto</a></li>
                        </ul>
                    </li>
                    
                    <li class="nav-item flex-fill">
                        <a class="nav-link items" data-bs-toggle="collapse" data-bs-target="#submenu2" aria-controls="submenu2" aria-expanded="false" aria-label="Toggle navigation" href="">Panties</a>
                        <ul class="nav subitem collapse" id="submenu2">
                            <li class="nav-item"><a class="nav-link" href="">item1</a></li>
                            <li class="nav-item"><a class="nav-link" href="">item2</a></li>
                            <li class="nav-item"><a class="nav-link" href="">item3</a></li>
                        </ul>
                    </li>



                    <li class="nav-item flex-fill"><a class="nav-link items" href="">Baby dolls</a></li>
                    <li class="nav-item flex-fill"><a class="nav-link items" href="">Conjuntos</a></li>
                    <li class="nav-item flex-fill"><a class="nav-link items" href="">Ofertas</a></li>
                    <li class="nav-item flex-fill"><a class="nav-link items" href="">Favoritos</a></li>

                </ul>

            </div>
            
        </div>

    </nav>


    <div class="container">
        <div class="row align-items-start columnas">
            <div class="col">
              
            </div>
            <div class="col">
              
            </div>
            
          </div>
        

    </div>

    <div class="botones">
        <a href="#" class="btn-flotante" >
            <img  src="images/FlechaSubir.png" alt="" width="50" height="50">
        </a>
        <a href="#" class="btn-flotante" >
            <img  src="images/Chat.png" alt="" width="50" height="50">
        </a>

    </div>

     <!-- **************************** PRODUCTO UNITARIO ****************************** -->
     <div class="container main-container">
        <div class="set-url">
            <a class="text-dark" href="#">Inicio</a> /
            <a class="text-dark" href="#">Brasieres</a> /
            <a class="text-dark" href="#">Bralette</a> /
            <a class="text-dark" href="#">Nombre de Brasier</a>
        </div>

        <div>

        </div>
        
        <nav class="filter-nav">
			<ul>
				<li class="submenu">
					<a href="#">Talla <i class="fas fa-chevron-down down"></i></a>
					<ul class="children">
						<li><a href="#">A</a></li>
						<li><a href="#">B</a></li>
						<li><a href="#">C</a></li>
						<li><a href="#">D</a></li>
						<li><a href="#">DD</a></li>
					</ul>
				</li>
				<li class="submenu">
					<a href="#">Color <i class="fas fa-chevron-down down"></i></a>
					<ul class="children">
						<li><a href="#">Rojo</a></li>
						<li><a href="#">Azul</a></li>
						<li><a href="#">Verde</a></li>
						<li><a href="#">Amarillo</a></li>
					</ul>
				</li>
				<li class="submenu">
					<a href="#">Estilo <i class="fas fa-chevron-down down"></i></a>
					<ul class="children">
						<li><a href="#">Estilo 1</a></li>
						<li><a href="#">Estilo 2</a></li>
						<li><a href="#">Estilo 3</a></li>
						<li><a href="#">Estilo 4</a></li>
					</ul>
				</li>
				<li class="submenu">
					<a href="#">Precio <i class="fas fa-chevron-down down"></i></a>
					<ul class="children">
						<li><a href="#">Económico</a></li>
						<li><a href="#">Intermedio</a></li>
						<li><a href="#">Caro</a></li>
					</ul>
				</li>
			</ul>
		</nav>
        <div class="product-container">
            <div class="product1">
                <i class="far fa-heart heart" id="heart"></i>
            </div>
            <div class="product2"></div>
        </div>

        <div class="details-container">
            <div class="discount-container">
                <p>USD XX.xx</p>
                <p class="discount">8% Desc.</p>
            </div>
            <p>Nombre del Producto</p>
            <p>Colores</p>
            <div class="color-container">
                <div class="color color1" id="color" style="background: red;"> </div>
                <div class="color color2" id="color" style="background: cyan;"> </div>
                <div class="color color3" id="color" style="background: black;"> </div>
                <div class="color color4" id="color" style="background: brown;"> </div>
                <div class="color color5" id="color" style="background: blue;"> </div>
            </div>
            <p>Copa</p>
            <div class="size-container">
                <div class="size">A</div>
                <div class="size">B</div>
                <div class="size">C</div>
                <div class="size">D</div>
                <div class="size">DD</div>
            </div>
            <div class="count-container">
                <button class="sum-btn count-btn" id="plus"><i class="fas fa-minus"></i></button>
                <div class="count-number" id="count-number">0</div>
                <button class="res-btn count-btn" id="minus"><i class="fas fa-plus"></i></button>
            </div>
            <button class="btn-add">Añadir al carrito</button>
            <div class="star-container">
                <form class="ranking-form" id="ranking-form" action="">
                    <p class="ranking" data-bs-toggle="modal" data-bs-target="#calificationModal">
                        <input class="ranking-input" id="radius1" type="radio" name="stars" value="5">
                        <label class="ranking-label" for="radius1">★</label>
                        <input class="ranking-input" id="radius2" type="radio" name="stars" value="4">
                        <label class="ranking-label" for="radius2">★</label>
                        <input class="ranking-input" id="radius3" type="radio" name="stars" value="3">
                        <label class="ranking-label" for="radius3">★</label>
                        <input class="ranking-input" id="radius4" type="radio" name="stars" value="2">
                        <label class="ranking-label" for="radius4">★</label>
                        <input class="ranking-input" id="radius5" type="radio" name="stars" value="1">
                        <label class="ranking-label" for="radius5">★</label>
                    </p>
                </form>
            </div>
            <p>Descripción</p>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Tempore nisi illo eveniet doloribus adipisci voluptas hic,
                nemo tenetur beatae non dolores sed quidem natus provident
                accusantium dolor voluptatem, atque obcaecati?
            </p>
        </div>
    </div>


 <div class="container comment-container" id="comment-container">
    <hr class="mb-5"/>
    <div class="comment-title">
        <h3>Prendas similares</h3>
    </div>
    <hr class="mb-5"/>
  <!--Carousel Wrapper-->
  <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">

    <!--Slides-->
    <div class="carousel-inner" role="listbox">

      <!--First slide-->
      <div class="carousel-item active">

        <div class="row">
          <div class="col-md-4">
            <div class="card mb-2">
                <div class="product1">
                    <i class="far fa-heart heart" id="heart"></i>
                </div>
              <div class="card-body">
                <h4 class="card-title">USD XX.xx</h4>
                <p class="card-text">NOMBRE DEL PRODUCTO</p>
                <p class="card-text">★★★★★</p>
                <p class="card-text">DETALLES</p>
                <p class="card-text">-MAS COLORES</p>
          

              </div>
            </div>
          </div>

          <div class="col-md-4 clearfix d-none d-md-block">
            <div class="card mb-2">
              <div class="product1">
                <i class="far fa-heart heart" id="heart"></i>
            </div>
              <div class="card-body">
                  <h4 class="card-title">USD XX.xx</h4>
                  <p class="card-text">NOMBRE DEL PRODUCTO</p>
                  <p class="card-text">★★★★★</p>
                  <p class="card-text">DETALLES</p>
                  <p class="card-text">-MAS COLORES</p>
              
              </div>
            </div>
          </div>

          <div class="col-md-4 clearfix d-none d-md-block">
            <div class="card mb-2">
              <div class="product1">
                <i class="far fa-heart heart" id="heart"></i>
            </div>
              <div class="card-body">
                  <h4 class="card-title">USD XX.xx</h4>
                  <p class="card-text">NOMBRE DEL PRODUCTO</p>
                  <p class="card-text">★★★★★</p>
                  <p class="card-text">DETALLES</p>
                  <p class="card-text">-MAS COLORES</p>
             
              </div>
            </div>
          </div>
        </div>

      </div>
      <!--/.First slide-->

      <!--Second slide-->
      <div class="carousel-item">

        <div class="row">
          <div class="col-md-4">
            <div class="card mb-2">
              <div class="product1">
                <i class="far fa-heart heart" id="heart"></i>
            </div>
              <div class="card-body">
                  <h4 class="card-title">USD XX.xx</h4>
                  <p class="card-text">NOMBRE DEL PRODUCTO</p>
                  <p class="card-text">★★★★★</p>
                  <p class="card-text">DETALLES</p>
                  <p class="card-text">-MAS COLORES</p>
            
              </div>
            </div>
          </div>

          <div class="col-md-4 clearfix d-none d-md-block">
            <div class="card mb-2">
              <div class="product1">
                <i class="far fa-heart heart" id="heart"></i>
            </div>
              <div class="card-body">
                  <h4 class="card-title">USD XX.xx</h4>
                  <p class="card-text">NOMBRE DEL PRODUCTO</p>
                  <p class="card-text">★★★★★</p>
                  <p class="card-text">DETALLES</p>
                  <p class="card-text">-MAS COLORES</p>
           
              </div>
            </div>
          </div>

          <div class="col-md-4 clearfix d-none d-md-block">
            <div class="card mb-2">
              <div class="product1">
                <i class="far fa-heart heart" id="heart"></i>
            </div>
              <div class="card-body">
                  <h4 class="card-title">USD XX.xx</h4>
                  <p class="card-text">NOMBRE DEL PRODUCTO</p>
                  <p class="card-text">★★★★★</p>
                  <p class="card-text">DETALLES</p>
                  <p class="card-text">-MAS COLORES</p>
                
              </div>
            </div>
          </div>
        </div>

      </div>
      <!--/.Second slide-->

      <!--Third slide-->
      <div class="carousel-item">

        <div class="row">
          <div class="col-md-4">
            <div class="card mb-2">
              <div class="product1">
                <i class="far fa-heart heart" id="heart"></i>
            </div>
              <div class="card-body">
                  <h4 class="card-title">USD XX.xx</h4>
                  <p class="card-text">NOMBRE DEL PRODUCTO</p>
                  <p class="card-text">★★★★★</p>
                  <p class="card-text">DETALLES</p>
                  <p class="card-text">-MAS COLORES</p>
            
              </div>
            </div>
          </div>

          <div class="col-md-4 clearfix d-none d-md-block">
            <div class="card mb-2">
              <div class="product1">
                <i class="far fa-heart heart" id="heart"></i>
            </div>
              <div class="card-body">
                  <h4 class="card-title">USD XX.xx</h4>
                  <p class="card-text">NOMBRE DEL PRODUCTO</p>
                  <p class="card-text">★★★★★</p>
                  <p class="card-text">DETALLES</p>
                  <p class="card-text">-MAS COLORES</p>
           
              </div>
            </div>
          </div>

          <div class="col-md-4 clearfix d-none d-md-block">
            <div class="card mb-2">
              <div class="product1">
                <i class="far fa-heart heart" id="heart"></i>
            </div>
              <div class="card-body">
                  <h4 class="card-title">USD XX.xx</h4>
                  <p class="card-text">NOMBRE DEL PRODUCTO</p>
                  <p class="card-text">★★★★★</p>
                  <p class="card-text">DETALLES</p>
                  <p class="card-text">-MAS COLORES</p>
                
              </div>
            </div>
          </div>
        </div>
        </div>

      </div>    
      <!--/.Third slide-->

    </div>
    <!--/.Slides-->

  </div>
  <!--/.Carousel Wrapper-->
  <center>
    <div class="controls-top">
      <a class="btn-floating" href="#multi-item-example" data-slide="prev"><i class="fa fa-chevron-left"></i></a>
      <a class="btn-floating" href="#multi-item-example" data-slide="next"><i class="fa fa-chevron-right"></i></a>
    </div>
  </center>
</div>


<!-- -----Comentarios----- -->
    
    <div class="container comment-container" id="comment-container">
        <hr class="mb-5"/>
        <div class="comment-title">
            <h3>¡Cuéntanos qué te pareció!</h3>
        </div>
        <hr>
        <div class="comment">
            <div class="comment-header">
                <div class="comment-user">
                    <div>USUARIO 1</div>
                    <div class="star-container">
                        <form class="comment-ranking" id="comment-ranking" action="">
                            <div class="ranking">
                                <input class="ranking-input" id="radius1" type="radio" name="stars" value="5">
                                <label class="ranking-label" for="radius1">★</label>
                                <input class="ranking-input" id="radius2" type="radio" name="stars" value="4">
                                <label class="ranking-label" for="radius2">★</label>
                                <input class="ranking-input" id="radius3" type="radio" name="stars" value="3">
                                <label class="ranking-label" for="radius3">★</label>
                                <input class="ranking-input" id="radius4" type="radio" name="stars" value="2">
                                <label class="ranking-label" for="radius4">★</label>
                                <input class="ranking-input" id="radius5" type="radio" name="stars" value="1">
                                <label class="ranking-label" for="radius5">★</label>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="comment-options">
                    <button type="button" class="comment-btn-report" id="comment-btn-report">Reportar</button>
                    <div class="count-like" id="count-like">20</div>
                    <div class="reaction img-like"><i class="fas fa-thumbs-up"></i></div>
                    <div class="count-dislike" id="count-dislike">0</div>
                    <div class="reaction img-dislike"><i class="fas fa-thumbs-down"></i></div>
                </div>
            </div>
            <div class="comment-body">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Labore, et. Sed in vel nostrum excepturi? Possimus consequuntur 
                    sapiente quis? Adipisci ad labore eius id voluptate sunt tempore 
                    saepe quasi in.
                </p>
            </div>
        </div>
        <hr>
        <div class="comment">
            <div class="comment-header">
                <div class="comment-user">
                    <div>USUARIO 2</div>
                    <div class="star-container">
                        <form class="comment-ranking" id="comment-ranking" action="">
                            <div class="ranking">
                                <input class="ranking-input" id="radius1" type="radio" name="stars" value="5">
                                <label class="ranking-label" for="radius1">★</label>
                                <input class="ranking-input" id="radius2" type="radio" name="stars" value="4">
                                <label class="ranking-label" for="radius2">★</label>
                                <input class="ranking-input" id="radius3" type="radio" name="stars" value="3">
                                <label class="ranking-label" for="radius3">★</label>
                                <input class="ranking-input" id="radius4" type="radio" name="stars" value="2">
                                <label class="ranking-label" for="radius4">★</label>
                                <input class="ranking-input" id="radius5" type="radio" name="stars" value="1">
                                <label class="ranking-label" for="radius5">★</label>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="comment-options">
                    <button type="button" class="comment-btn-report" id="comment-btn-report">Reportar</button>
                    <div class="count-like" id="count-like">20</div>
                    <div class="reaction img-like"><i class="fas fa-thumbs-up"></i></div>
                    <div class="count-dislike" id="count-dislike">0</div>
                    <div class="reaction img-dislike"><i class="fas fa-thumbs-down"></i></div>
                </div>
            </div>
            <div class="comment-body">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Labore, et. Sed in vel nostrum excepturi? Possimus consequuntur
                    sapiente quis? Adipisci ad labore eius id voluptate sunt tempore
                    saepe quasi in.
                </p>
            </div>
        </div>
        <hr>
        <div class="comment">
            <div class="comment-header">
                <div class="comment-user">
                    <div>USUARIO 3</div>
                    <div class="star-container">
                        <form class="comment-ranking" id="comment-ranking" action="">
                            <div class="ranking">
                                <input class="ranking-input" id="radius1" type="radio" name="stars" value="5">
                                <label class="ranking-label" for="radius1">★</label>
                                <input class="ranking-input" id="radius2" type="radio" name="stars" value="4">
                                <label class="ranking-label" for="radius2">★</label>
                                <input class="ranking-input" id="radius3" type="radio" name="stars" value="3">
                                <label class="ranking-label" for="radius3">★</label>
                                <input class="ranking-input" id="radius4" type="radio" name="stars" value="2">
                                <label class="ranking-label" for="radius4">★</label>
                                <input class="ranking-input" id="radius5" type="radio" name="stars" value="1">
                                <label class="ranking-label" for="radius5">★</label>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="comment-options">
                    <button type="button" class="comment-btn-report" id="comment-btn-report">Reportar</button>
                    <div class="count-like" id="count-like">0</div>
                    <div class="reaction img-like" id="reaction"><i class="fas fa-thumbs-up"></i></div>
                    <div class="count-dislike" id="count-dislike">0</div>
                    <div class="reaction img-dislike" id="reaction"><i class="fas fa-thumbs-down"></i></div>
                </div>
            </div>
            <div class="comment-body-text">
                <textarea class="comment-text" name="comment-text" id="comment-text" placeholder="Comentar..." cols="120" rows="5"></textarea>
            </div>
        </div>
        <hr>
    </div>


    <!-- CALIFICACION -->
    <div class="modal fade calificationModal" id="calificationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-body calification-body" style="background-color: white;">
                    <div class="row">
                        <form class="calification" id="ranking-form" action="">
                            <p class="ranking">
                                <input class="ranking-input" id="radius1" type="radio" name="stars" value="5">
                                <label class="ranking-label" for="radius1">★</label>
                                <input class="ranking-input" id="radius2" type="radio" name="stars" value="4">
                                <label class="ranking-label" for="radius2">★</label>
                                <input class="ranking-input" id="radius3" type="radio" name="stars" value="3">
                                <label class="ranking-label" for="radius3">★</label>
                                <input class="ranking-input" id="radius4" type="radio" name="stars" value="2">
                                <label class="ranking-label" for="radius4">★</label>
                                <input class="ranking-input" id="radius5" type="radio" name="stars" value="1">
                                <label class="ranking-label" for="radius5">★</label>
                            </p>
                        </form>
                        <div class="calification-option">
                            <a href="#comment-container" type="button" class="options" id="comment-option">
                                Dejar un comentario
                            </a>
                            <a type="button" class="options btn-close-modal" data-bs-dismiss="modal" id="close-option">
                                Ahora no
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
   
   <!-- ************************** FIN PRODUCTO UNITARIO ****************************** -->
   <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
   <script src="/js/nav.js"></script>
   <script src="/js/count-product.js"></script>


</body>
</html>