<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../../css/suscripcion.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <title>Formulario Registro</title>
</head>

<body>
  <section class="form-register">

    <div class="anuncio">ANUNCIO</div> 

    <div class="container">
      <h4>¡Suscribete a nuestro boletin de noticias!</h4>
      <div class="row">
        <div class="col-sm-4 primary">
          <input class="controls" type="text" name="nombre" id="nombre" placeholder="Nombre">
        </div>
        <div class="col-sm-4 primary">
          <input class="controls" type="text" name="apellido" id="apellido" placeholder="Apellido"> >
        </div>
        <div class="col-sm-4 primary">    
          <input class="botons" type="submit" value="Suscribirse"> 
        </div>
      </div>

      <div class="row2">
        <div class="col-sm-8"> 
          <input class="controls" type="email" name="correo" id="correo" placeholder="Correo Electrónico"> 
        </div>
        <div class="col-sm-4 second">
            <p class="login"><a href="#">Iniciar sesión</a></p>
            <p class="signin"><a href="#">Registrarse</a></p>
 
        </div>
      </div> 

    </div>
  </section>
</body>
</html>
