<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="stylesheet" href="../../css/fuentes.css">
  <link rel="stylesheet" href="../../css/pago_style.css">
</head>
  <body>
    <!-- Recordar eliminar esto -->
    <br><br>
    <!-- Cuerpo -->
    <form action="" method="post"></form>
      <div class="container-fluid pb-3">
        <div class="row justify-content-between">
          <!-- Seccion con barra de progreso y formularios de datos -->
          <div class="col-12 col-lg-9">
            <!-- Barra de progreso -->
            <div class="row">
              <ul class="progressbar d-flex">
                <li class="progressbar__option">
                  Datos de envío <br>
                  y facturación
                </li>
                <li class="progressbar__option active">
                  Opciones<br>
                  de pago
                </li>
                <li class="progressbar__option">
                  Pago
                </li>
                <li class="progressbar__option">
                  Gracias por <br>
                  su compra
                </li>
              </ul>
            </div>

            <!-- Formas de pago tarjeta, transferencia y link de pago -->
            <div class="row px-1 px-sm-0 ps-sm-4 justify-content-center pt-3">
              <!-- Seccion de tarjetas -->
              <div class="row pb-3">
                <div class="col-12 col-lg-3 pb-1 d-flex justify-content-center align-items-center BreadleySerif-Bold nombre-forma-pago">
                  <span class="text-center">Tarjeta de Crédito</span>
                </div>
                <!-- Opciones -->
                <div class="col-12 col-lg-9">
                  <div class="row">
                    <div class="col">
                      <input type="radio" name="forma-pago" id="mastercard" class="forma-pago tarjeta" value="mastercard"/>
                      <label for="mastercard" class="px-1 h-100 d-flex align-items-center">
                        <img src="../../resource/img-forma-pago/mastercard.png" alt="Mastercard" class="img-fluid" />
                      </label>
                    </div>

                    <div class="col">
                      <input type="radio" name="forma-pago" id="american_express" class="forma-pago tarjeta" value="american-express"/>
                      <label for="american_express" class="h-100 d-flex align-items-center">
                        <img src="../../resource/img-forma-pago/american-express.png" alt="American Express" class="img-fluid" />
                      </label>
                    </div>

                    <div class="col">
                      <input type="radio" name="forma-pago" id="diners_club" class="forma-pago tarjeta" value="diners-club-International" />
                      <label for="diners_club" class="h-100 d-flex align-items-center">
                        <img src="../../resource/img-forma-pago/diners-club-International.png" alt="Diners Club Internation" class="img-fluid" />
                      </label>
                    </div>

                    <div class="col">
                      <input type="radio" name="forma-pago" id="visa" class="forma-pago tarjeta" value="visa"/>
                      <label for="visa" class="h-100 d-flex align-items-center">
                        <img src="../../resource/img-forma-pago/visa.png" alt="Visa" class="img-fluid" />
                      </label>
                    </div>

                    <div class="col">
                      <input type="radio" name="forma-pago" id="discover" class="forma-pago tarjeta" value="discover"/>
                      <label for="discover" class="h-100 d-flex align-items-center">
                        <img src="../../resource/img-forma-pago/discover.png" alt="Discover" class="img-fluid" />
                      </label>
                    </div>
                  </div>
                  
                </div>
              </div>

              <!-- Seccion de transferencias -->
              <div class="row pb-3">
                <div class="col-12 col-lg-3 pb-1 d-flex justify-content-center align-items-center BreadleySerif-Bold nombre-forma-pago">
                  <span class="text-center">Transferencia bancaria</span>
                </div>
                
                <!-- Opciones -->
                <div class="col-12 col-lg-9">
                  <div class="row">
                    <div class="col">
                      <input type="radio" name="forma-pago" id="banco-del-pacifico" class="forma-pago transferencia" value="banco-del-pacifico" />
                      <label for="banco-del-pacifico" class="px-1 h-100 d-flex align-items-center">
                        <img src="../../resource/img-forma-pago/banco-del-pacifico.png" alt="Banco del Pacifico" class="img-fluid" />
                      </label>
                    </div>

                    <div class="col">
                      <input type="radio" name="forma-pago" id="produbanco" class="forma-pago transferencia" value="produbanco" />
                      <label for="produbanco" class="h-100 d-flex align-items-center">
                        <img src="../../resource/img-forma-pago/produbanco.png" alt="Produbanco" class="img-fluid" />
                      </label>
                    </div>

                    <div class="col">
                      <input type="radio" name="forma-pago" id="banco-guayaquil" class="forma-pago transferencia" value="banco-guayaquil" />
                      <label for="banco-guayaquil" class="h-100 d-flex align-items-center">
                        <img src="../../resource/img-forma-pago/banco-guayaquil.png" alt="Banco Guayaquil" class="img-fluid" />
                      </label>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Seccion de link de pago -->
              <div class="row pb-3">
                <div class="col-12 col-lg-3 pb-1 d-flex justify-content-center align-items-center BreadleySerif-Bold nombre-forma-pago">
                  Link de pago
                </div>

                <!-- Opciones -->
                <div class="col-12 col-lg-9">
                  <div class="row row justify-content-center justify-content-lg-start">
                    <div class="col-4">
                      <input type="radio" name="forma-pago" id="datalink" class="forma-pago link" value="datalink" />
                      <label for="datalink" class="px-2 py-2 h-100 d-flex align-items-center">
                        <img src="../../resource/img-forma-pago/datalink.png" alt="DataLink" class="img-fluid" />
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
          </div>

          <!-- Seccion de cuadro de carrito, opcion de envio y btn siguiente -->
          <div class="col-12 col-lg-3 pt-5 pt-sm-0 pt-md-4 pt-lg-0 py-3 d-lg-flex flex-column justify-content-between">
            <!-- Cuadro de carrito con valores a pagar -->
            <div class="row mx-auto cuadro-carrito cuadro-carrito-paso2 py-5 py-lg-4 mb-4">
              <div class="col-12 text-center pb-3">
                <span class="titulo-carrito BreadleySerif-Bold">Carrito</span>
                <img src="../../resource/icons/car.svg" class="img-fluid col-1 col-lg-2 envio-logo-carrito" alt="">
              </div>
              <div class="col-6">
                <div class="row">
                  <span class="text-end text-valores text-valores__gris">Subtotal</span>
                </div>
                <div class="row">
                  <span class="text-end text-valores text-valores__gris">Envio</span>
                </div>
                <div class="row pb-3">
                  <span class="text-end text-valores text-valores__gris">IVA 12%</span>
                </div>
                <div class="row">
                  <span class="text-end text-valores text-valores__tot">Total a pagar</span>
                </div>
              </div>
              <div class="col-6">
                <div class="row">
                  <span class="col-2 px-0 text-valores text-valores__gris">UDS</span> <span class="col text-valores text-valores__gris">80.00</span>
                </div>
                <div class="row">
                  <span class="col-2 px-0 text-valores text-valores__gris">UDS</span> <span class="col text-valores text-valores__gris">0.00</span>
                </div>
                <div class="row pb-3">
                  <span class="col-2 px-0 text-valores text-valores__gris">UDS</span> <span class="col text-valores text-valores__gris">9.60</span>
                </div>
                <div class="row">
                  <span class="col-2 px-0 text-valores text-valores__tot">UDS</span> <span class="col text-valores text-valores__tot">94.60</span>
                </div>
              </div>
            </div>
            <!-- Boton de Siguente -->
            <div class="row">
              <a href="./forma_pago3.html" class="d-flex justify-content-center a-btn">
                <button class="btn btn-siguiente">Siguiente</button>
              </a>
            </div>

          </div>
        </div>

      </div>
    </form>

    <!-- Dependencias -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
  </body>
</html>