<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nosotros</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
        <link rel="stylesheet" href="../../css/styleNosotros.css"> 
 

</head>
<body>
    
    <div class="container-fluid">
        <div class="row">
            <h2 class="linea"><span  >La empresa</span></h2>
            <nav aria-label="breadcrumb" style="top:30px; margin-left: 100px;">
                <ol class="breadcrumb">
                <li class="breadcrumb-item"><a style="color:rgba(99, 97, 97, 0.849);font:18px gayaku; font-weight: bold;">Inicio</a></li>
                <li class="breadcrumb-item"><a style="color:rgba(99, 97, 97, 0.849);font:18px gayaku;font-weight: bold;">LaEmpresa</a></li>
                </ol>
            </nav>
        </div>

        <div class="row justify-content-center">
            <div class="col-md-9">
                <h2 class="title">Nuestra Historia</h2>
                <p class="p_nos">Los ingenieros Rolando Cedeño y Mariuxi Núñez, en el año 2015 crearon la marca de lencería “Suave Seducción” instalando su primer
                    local físico en la ciudad de Portoviejo. En el año 2017 decidieron abrir una sucursal en playas Villamil, Esta se encontraba ubicada junto
                    al Municipio del cantón, con una alta rotación de personas, estando a cargo dos dependientes que vendían y administraban.<br><br>
                    Los primeros meses resultaron rentables, principalmente por el servicio al cliente que tenía un nivel eficiente y precios competitivos
                    de acuerdo con el mercado. Al siguiente año se apertura una nueva sucursal en el centro comercial Laguna Plaza ubicado en Vía a
                    la Costa, la misma tenía un status diferente y por ende requería mejorar la calidad de nuestros productos; sin embargo, se requería de
                    una mayor inversión publicitaria y mantenimiento de las instalaciones, además del acceso al lugar, los actuales clientes de la ciudad
                    de Guayaquil preferían visitarlos en una zona más céntrica. Al poco tiempo se dieron cuenta que habían tomado una mala decisión,
                    
                    el centro comercial escogido se localizaba lejos y tenía poca concurrencia durante el día, lo cual llevo al cierre de la sucursal. Actualmente, realiza ventas online a nivel nacional por
                    
                    medio de la página en Instagram @suaveseduccion y mantiene su tienda física en Portoviejo.</p>
           
            </div>
        
         </div>
        <div class="row justify-content-around">
            <div class="col-md-5"> 
                <h2 class="title">Misión</h2> 
                <p class="p_nos">Suave Seducción es una tienda ecuatoriana dedicada a la
                    comercialización de ropa interior femenina de excelente cali-
                    dad, brindando amplias alternativas en cuanto a comodidad,
                    moda y elegancia a cada uno de nuestros clientes; con el fin
                    de generar satisfacción a las necesidades y preferencias del
                    consumidor a precios competitivos.</p>
            </div>
            <div class="col-md-5"> 
                <h2 class="title">Visión</h2>
                <p class="p_nos">Posicionarnos en el mercado como una empresa productiva y
                    responsable a nivel nacional ofreciendo lencería de alta cali-
                    dad que cumplan con las expectativas de nuestros clientes.</p>
            </div>

        </div>
    </div>
</body>
</html>