<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contactanos</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <link rel="stylesheet" href="../../css/contactanos.css">

</head>

<body>






  <!-- navar -->
  <div class="bg-light shadow">
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light  bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-5 mb-lg-1">
              <li><p>Barra navegador</p></li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </div>


  <!-- Inicio del Carrousel -->
  <h1 class="fw-bold text-center my-4 mb-4 mt-lg-5 pt-lg-5 mb-lg-4">¿Tienes dudas? Escríbenos.</h1>
  <div class="container formContact mb-lg-5">
      <div class="row">
          <div class="row justify-content-md-center mb-2 mb-lg-3" >
              <div class="col col-lg-3">
                  <input type="text" class="form-control" id="nombreApellido" placeholder="Nombre">
              </div>
              <div class="col col-lg-3">
                  <input type="text" class="form-control" id="email" placeholder="E-mail">
              </div>
          </div>
          <div class="row justify-content-md-center mb-2 mb-lg-3">
              <div class="col col-lg-3">
                  <input type="text" class="form-control" id="Asunto" placeholder="Asunto">
              </div>
              <div class="col col-lg-3">
                  <input type="text" class="form-control" id="telefono" placeholder="Telefono">
              </div>
          </div>
          <div class="row justify-content-md-center mb-2">
              <div class="col col-lg-6 mb-3">
                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="4" placeholder="Mensaje"></textarea>
              </div>
          </div>
          <div class="row justify-content-lg-center">
            <div class = "col offset-6 offset-lg-8">
              <input type="submit" value="Enviar" class="botonEnviar btn btn-danger my-2"
              style="border-radius: 25px; width: 150px;">
            </div>

          </div>
      </div>
  </div>

  <div class ="mapa2">
    <div class = "container-fluid">
      <div class = "row py-2 py-lg-0" >
        <div class = "col-lg-5">
            <div id = "map"></div>      
        </div>
        <div class = "col-lg-6">
          <div class = "container">
            <div class ="row justify-content-md-center">
              <div class = "col offset-sm-1">
                <h1 class="siguenos  py-3 py-lg-5">Síguenos en nuestras redes</h1>
              </div>
            </div>
          </div>
          <div class = "container">
            <div class = "row py-3">
              <div class = "col offset-md-3">
                <div class ="wrapper">
                  <img class = "icon alineadoicon" src= "../../resource/icons/iconos blancos/instagram.png"  >
                  <p class ="contactWhite pt-1">@suaveseduccion</p>
                </div>
              </div>
            </div>
          </div>
          <div class = "container-fluid">
            <div class = "row py-3">
              <div class = "col offset-md-3">
                <div class ="wrapper">
                  <img class = "icon alineadoicon" src= "../../resource/icons/iconos blancos/email.png"  >
                   <p class ="contactWhite pt-1">info@boutiquesuaveseduccion.com</p>
                </div>
              </div>
            </div>
          </div>
          <div class = "container-fluid">
            <div class = "row py-3">
              <div class = "col offset-md-3">
                <div class ="wrapper">
                  <img class = "icon alineadoicon" src= "../../resource/icons/iconos blancos/facebook.png"  >
                   <p class ="contactWhite pt-1">www.fb.com/ropainteriorsuaveseduccion.com</p>
                </div>
              </div>
            </div>
          </div>
          <div class = "container">
            <div class = "row py-3">
              <div class = "col offset-md-3">
                <div class ="wrapper">
                  <img class = "icon alineadoicon" src= "../../resource/icons/iconos blancos/whatsapp.png"  >
                   <p class ="contactWhite pt-1">096 950 7885</p>
                </div>
              </div>
           </div>
          </div>
          <div class = "row py-3 py-lg-5">
            <div class = "col offset-sm-1">
              <div class ="wrapper">
                <img class = "icon alineadoicon" src= "../../resource/icons/iconos blancos/reloj.png"  >
                 <p class ="contactWhite pt-1">Lunes a Viernes<br>de 8:00AM a 8:00PM<br>Guayaquil</p>
              </div>
            </div>
            <div class = "col offset-sm-3">
              <div class = "wrapper">
                <img class = "icon alineadoicon" src= "../../resource/icons/iconos blancos/reloj.png"  >
                <p class="contactWhite pt-1">
                  Lunes a Viernes<br>de 8:00AM a 7:00PM<br>Portoviejo</p>
              </div>
              </div>
          </div>
        </div>
      </div>
        <div class = "row py-3 py-lg-0">
          <div class = "col col-lg-4">
            <div class ="wrapper">
              <img class = "loc" src= "../../resource/icons/iconos blancos/localizacion.png"  >
               <p class ="siguenos pt-1">Guayaquil Cdla. Sopeña Mz. 20 V. 18</p>
            </div>

          </div>
          <div class = "col">
            <div class = "wrapper">
              <img class = "loc" src= "../../resource/icons/iconos blancos/localizacion.png"  >
              <p class ="siguenos pt-1">C.5 de Octubre y Av. del Ejército Portoviejo</p>
            </div>
            </div>
        </div>
      </div>
    </div>

 



  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
    crossorigin="anonymous"></script>
    <script>
      var map;
    
    function initMap() {
      map = new google.maps.Map(document.getElementById('map'), {
        center: {lat: -1.0571793, lng: -80.4681208},
        zoom: 21
      });
      new google.maps.Marker({
        position: {lat: -1.0571793, lng: -80.4681208},
        map,
        title: "SuaveSeduccion",
      });
    }

    
    

      </script>
      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA6pkensg-VDGforlrKKaFWT4WxotelQNQ&callback=initMap"
        async></script>
</body>

</html>

